@page
@model GroceryStores.Pages.Surveys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-border table-dark table-striped table-hover auto-index">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroceryStoreSurveys[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroceryStoreSurveys[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroceryStoreSurveys[0].mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroceryStoreSurveys[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroceryStoreSurveys[0].zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroceryStoreSurveys[0].stores)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroceryStoreSurveys)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stores)
                </td>


            </tr>
        }
    </tbody>
</table>
